/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 95%;
        margin: 0 auto;
    }

    .d-none-small {
        display: none;
    }

    .delete-mobile {
        width: 80% !important;

    }

 }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

 }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
          .img-3 {
        width: 15%;
    }

 }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
          .img-3 {
        width: 15%;
    }

    .the-form {
        width: 80%;
        }

 }